body { font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}

.logo { height: 80px;}

.avatar { height: 120px;}

.captura { height: 80px; width:80px; object-fit:cover;} /*object-fit:cover no escala, como que recorta*/

.graficas { width:100%; height: 1000px; background-color: rgb(240, 252, 252); padding: 12px;}

.grafica { width:100%; height: 400px; background-color: #eeeeee; padding: 8px;}

.marco { border: 1px solid red; background-color: #fgbbbb; font-weigth: bold; }

.hbar { 
	height: 27px; 
	width: 71px;
	color: #ccf;
	background-color: #44a; 
	text-align:right; 
	padding-right: 3px; padding-top:3px;
}

.vbar {
	display: inline-block;
	width: 20px;
	height: 75px; 
	background-color: teal;
}
